.instruction {
    color: blue;
}

.warning {
    color: red;
    min-height: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.spacer {
    min-height: 20px;
}

.range-lables {
    display: flex;
    justify-content: space-between;
    color: rgb(235, 213, 14);
}

.form-range::-webkit-slider-thumb {
    background-color: gold;
}